<?xml version="1.0"?>
<odoo>
    <data>

        <menuitem id="menu_fleet_vehicle_reservation" name="Vehicle Reservation" groups="base.group_user"/>
        
        <menuitem id="menu_fleet_vehicle_main_view" name="Vehicles" parent="menu_fleet_vehicle_reservation" groups="base_employee.coordinator_group"/>
        <menuitem id="menu_fleet_vehicle_view" name="Vehicles" parent="menu_fleet_vehicle_main_view" action="fleet.fleet_vehicle_action"/>

        <menuitem id="menu_fleet_vehicle_reservation_config" name="Configuration" parent="menu_fleet_vehicle_reservation" sequence="100" groups="base_employee.coordinator_group"/>
        <menuitem id="menu_fleet_vehicle_type" name="Vehicle Type" parent="menu_fleet_vehicle_reservation_config" 
        action="base_fleet.action_fleet_vehicle_type"/>
        <menuitem id="menu_fleet_vehicle_sub_type" name="Vehicle Sub Type" parent="menu_fleet_vehicle_reservation_config" 
        action="base_fleet.action_fleet_vehicle_sub_type"/>

    </data>
</odoo>
